@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 64% 27%;
    --foreground: 0 0% 100%;
    --card: 240 50% 30%;
    --card-foreground: 0 0% 100%;
    --popover: 240 50% 30%;
    --popover-foreground: 0 0% 100%;
    --primary: 328 100% 54%;
    --primary-foreground: 0 0% 10%;
    --secondary: 328 80% 65%;
    --secondary-foreground: 0 0% 10%;
    --muted: 240 40% 40%;
    --muted-foreground: 240 5% 75%;
    --accent: 328 90% 75%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 328 100% 64%;
    --input: 240 40% 40%;
    --ring: 328 100% 64%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 64% 27%;
    --foreground: 0 0% 100%;
    --card: 240 50% 30%;
    --card-foreground: 0 0% 100%;
    --popover: 240 50% 30%;
    --popover-foreground: 0 0% 100%;
    --primary: 328 100% 54%;
    --primary-foreground: 0 0% 10%;
    --secondary: 328 80% 65%;
    --secondary-foreground: 0 0% 10%;
    --muted: 240 40% 40%;
    --muted-foreground: 240 5% 75%;
    --accent: 328 90% 75%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 328 100% 64%;
    --input: 240 40% 40%;
    --ring: 328 100% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 5px hsl(var(--primary) / 0.8), 0 0 10px hsl(var(--primary) / 0.6);
  }
  .box-glow {
    box-shadow: 0 0 5px hsl(var(--primary) / 0.8), 0 0 10px hsl(var(--primary) / 0.6);
  }
}
